.App {
  text-align: center;
}

.container {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.header,
.footer {
  background-color: #282c34;
  color: white;
  padding: 1rem;
}

.main-content {
  display: flex;
  flex: 1;
  overflow: auto;
}

.sidebar {
  flex: 1;
  background-color: #f0f0f0;
  padding: 1rem;
}

.visualizer {
  flex: 2;
  background-color: #ffffff;
  padding: 1rem;
}
